
<mat-toolbar color="accent" >
    <a [routerLink]="'/'" mat-icon-button class="example-icon">
        <img src="../../../assets/home.png" alt="home-icon">
        </a>
        <span>Shiksha</span>
       
    
    <span class="example-spacer"></span>
    
    <a 
    *ngIf="!login.isLoggedIn()"
    [routerLink]="'/login'" mat-button >Login      
    </a> 
    <a *ngIf="!login.isLoggedIn()"
    [routerLink]="'/signup'" mat-button class="mr10" >Register
           
    </a>
    
    

    <a
    (click)="logout()" 
    [routerLink]="'/login'"
    *ngIf="login.isLoggedIn()"
     mat-button class="mr10" >Logout
    </a>
  </mat-toolbar>
  