
<mat-toolbar color="accent" >
    <a [routerLink]="'/'" mat-icon-button class="example-icon">
        <span class="material-symbols-outlined">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

            </span>
        </a>
        <span>Shiksha</span>
       
    
    <span class="example-spacer"></span>
    
    <a [routerLink]="'/login'" mat-button >Login      
    </a>
    <a [routerLink]="'/signup'" mat-button class="mr10" >Register
           
    </a>
  </mat-toolbar>
  