<mat-card>
    <h1>Your Profile Details</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">

                <div class="container text-center">
                    <img src="../../../assets/defualt.jpg" style="max-height: 150px; max-width: 150px; border-radius: 50%; border: 2px solid #ff4081 ;" alt="Defualt profile picture">
                    <h1 class="mt20" >Supranshu Singh</h1>
                </div>

                <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <table class="table" >
                                <tr>
                                    <td>Username</td>
                                    <td>shivam123</td>
                                </tr>
                            </table> 
                        </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
